.sidebar{
  background: #49d893;
  height: 100vh;
  padding: 3rem 0 1rem 2rem;
}
.navlink{
  display: block;
  text-decoration: none;
  padding: .5rem;
  background: #fff;
  color: #000;
  border-radius: 2rem 0 0 2rem;
  font-size: large;
  font-weight: 500;
  text-transform: uppercase;
}
.navlink:hover{
  color: black;
}
@media (max-width: 560px) {
  .sidebar{
    height: 300px
  };
}
